<div class="social-icons">
    <a href="https://www.instagram.com/obbesportss?igsh=MTNudWYyZzd1ZXo2dw==" target="_blank" title="Instagram">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://x.com/obbesportss" target="_blank" title="X (Twitter)">
        <i class="fab fa-x-twitter"></i>
    </a>
    <a href="https://www.tiktok.com/@obbesports?_r=1&_t=ZS-96Kh1YD4CqS" target="_blank" title="TikTok">
        <i class="fab fa-tiktok"></i>
    </a>
    <a href="https://kick.com/obb-e-spor" target="_blank" title="Kick">
        <i class="fab fa-kickstarter"></i>
    </a> 
    <a href="https://www.youtube.com/@OBBESPORTSS" target="_blank" title="YouTube">
        <i class="fab fa-youtube"></i>
    </a>
</div>
